EXPOSED_API_PORT=3000
EXPOSED_DASHBOARD_PORT=3001
EXPOSED_DB_PORT=5432
EXPOSED_PROM_PORT=9090

EXPOSED_MUSE_DEBUGGING_PORT=9229
EXPOSED_RADIO_DEBUGGING_PORT=9230

DATABASE_URL=postgres://postgres:postgres@db:5432/muse

INVITE_LINK="https://discord.com/oauth2/authorize?client_id=1096889146775195780&scope=bot&permissions=527710547199"
RADIO_INVITE_LINK="https://discord.com/oauth2/authorize?client_id=1096889146775195780&scope=bot&permissions=527710547199"

REGISTER_COMMANDS=true
DEVELOPMENT_SERVER_IDS=
OWNER_IDS=

DISCORD_OAUTH_CLIENT_ID=
DISCORD_OAUTH_CLIENT_SECRET=
DISCORD_OAUTH_SCOPES=identify,guilds
DISCORD_OAUTH_CALLBACK_URL=http://localhost:3000/auth/callback

DISCORD_TOKEN=
RADIO_DISCORD_TOKEN=
MUSIC_1_DISCORD_TOKEN=

RADIO_BOT_HOST=radio
MUSIC_BOT_HOSTS=music

SENTRY_DNS=

LOKI_URL=https:// <username >: <password >@ <host >/loki/api/v1/push

LAVALINK_ID=Main
LAVALINK_HOST=lavalink
LAVALINK_PORT=2333
LAVALINK_PASSWORD=docker

SPOTIFY_CLIENT_ID=
SPOTIFY_CLIENT_SECRET=
