<aside
	[class.translate-x-4]="show$()"
	[class.-translate-x-full]="!show$()"
	class="absolute left-0 top-0 -ml-4 mt-4 flex h-[calc(100vh-2rem)] w-[calc(100vw-2rem)] flex-col rounded-2xl bg-base-0 p-2 text-white duration-200 ease-linear md:w-64 lg:static lg:ml-0 lg:translate-x-0"
>
	<!-- overflow-y-hidden -->
	<div class="dropdown dropdown-bottom md:dropdown-right">
		<label
			tabindex="0"
			class="btn btn-ghost flex h-16 w-full items-center gap-4 px-2"
			*ngIf="
				!loadingGuilds$() && selectedGuild$() as selectedGuild;
				else guildsLoadingTemplate
			"
		>
			<m-guild-icon [guild]="selectedGuild" />
			<h1
				class="flex-1 overflow-hidden text-ellipsis whitespace-nowrap text-start font-semibold"
			>
				{{ selectedGuild.name }}
			</h1>
			<ng-icon
				class="!hidden md:!inline-block"
				name="cssChevronRight"
			></ng-icon>
			<ng-icon
				class="md:!hidden"
				name="cssChevronDown"
			></ng-icon>
		</label>
		<ng-template #guildsLoadingTemplate>
			<div class="flex h-16 w-full items-center gap-4 px-2">
				<div class="ghost-loader h-8 w-8 rounded-full"></div>
				<div class="ghost-loader h-6 w-full flex-1"></div>
			</div>
		</ng-template>
		<ul
			*ngIf="!loadingGuilds$()"
			tabindex="0"
			class="dropdown-content menu rounded-box flex max-h-[80vh] max-w-[16rem] flex-col flex-nowrap overflow-y-auto bg-base-0 p-2 shadow md:-mt-2 md:ml-4 md:max-h-[calc(100vh-2rem)]"
		>
			<li
				class="w-full"
				*ngFor="let guild of availableGuilds$()"
			>
				<a
					class="flex w-full gap-4"
					[routerLink]="['../', guild.id]"
					routerLinkActive="active"
				>
					<m-guild-icon [guild]="guild" />
					<p
						class="flex-1 overflow-hidden text-ellipsis whitespace-nowrap"
					>
						{{ guild.name }}
					</p>
				</a>
			</li>

			<li class="menu-title mt-4">
				<span> Invite bot to server </span>
			</li>
			<li
				class="w-full"
				*ngFor="let guild of unavailableGuilds$()"
			>
				<a
					class="flex w-full gap-4"
					[href]="inviteUrl"
					target="_INVITE"
				>
					<m-guild-icon [guild]="guild" />
					<p
						class="flex-1 overflow-hidden text-ellipsis whitespace-nowrap"
					>
						{{ guild.name }}
					</p>
				</a>
			</li>
		</ul>
	</div>

	<ul class="menu menu-compact mt-4 lg:menu-normal">
		<li>
			<a
				routerLink="./"
				routerLinkActive="active"
				[routerLinkActiveOptions]="{ exact: true }"
			>
				<ng-icon
					class="text-success"
					name="cssCollage"
				></ng-icon>
				Dashboard
			</a>
		</li>

		<li class="menu-title mt-4">
			<span> Music </span>
		</li>
		<li>
			<a
				routerLink="./music"
				routerLinkActive="active"
				[routerLinkActiveOptions]="{ exact: true }"
			>
				<ng-icon
					class="text-primary"
					name="cssMusic"
				></ng-icon>
				Music
			</a>
		</li>
		<li>
			<a
				routerLink="./music/radio"
				routerLinkActive="active"
			>
				<ng-icon
					class="text-red-400"
					name="cssMusicSpeaker"
				></ng-icon>
				Radio
			</a>
		</li>

		<li class="menu-title mt-4">
			<span> Modules </span>
		</li>
		<li>
			<a
				routerLink="./module/bookworm"
				routerLinkActive="active"
			>
				<ng-icon
					class="text-emerald-500"
					name="cssBookmark"
				></ng-icon>
				Bookworm
			</a>
		</li>
		<li>
			<a
				routerLink="./module/feedback"
				routerLinkActive="active"
			>
				<ng-icon
					class="text-red-400"
					name="cssInbox"
				></ng-icon>
				Feedback
			</a>
		</li>
		<li>
			<a
				routerLink="./module/reaction-trigger"
				routerLinkActive="active"
			>
				<ng-icon
					class="text-indigo-400"
					name="cssFeed"
				></ng-icon>
				Reaction Trigger
			</a>
		</li>
		<li>
			<a
				routerLink="./module/fun"
				routerLinkActive="active"
			>
				<ng-icon
					class="text-success"
					name="cssSmile"
				></ng-icon>
				Fun
			</a>
		</li>
	</ul>
</aside>
