<aside
	[class.translate-x-4]="show$()"
	[class.-translate-x-full]="!show$()"
	class="absolute left-0 top-0 h-[calc(100vh-2rem)] -ml-4 lg:ml-0 rounded-2xl mt-4 w-[calc(100vw-2rem)] md:w-64 bg-base-0 duration-200 ease-linear lg:static lg:translate-x-0 text-white flex flex-col p-2"
>
	<!-- overflow-y-hidden -->
	<div class="dropdown dropdown-bottom md:dropdown-right">
		<label
			tabindex="0"
			class="btn btn-ghost w-full flex items-center gap-4 h-16 px-2"
			*ngIf="
				!loadingGuilds$() && selectedGuild$() as selectedGuild;
				else guildsLoadingTemplate
			"
		>
			<m-guild-icon [guild]="selectedGuild" />
			<h1
				class="font-semibold flex-1 whitespace-nowrap overflow-hidden text-ellipsis text-start"
			>
				{{ selectedGuild.name }}
			</h1>
			<ng-icon
				class="!hidden md:!inline-block"
				name="cssChevronRight"
			></ng-icon>
			<ng-icon class="md:!hidden" name="cssChevronDown"></ng-icon>
		</label>
		<ng-template #guildsLoadingTemplate>
			<div class="w-full flex items-center gap-4 h-16 px-2">
				<div class="ghost-loader w-8 h-8 rounded-full"></div>
				<div class="ghost-loader w-full h-6 flex-1"></div>
			</div>
		</ng-template>
		<ul
			*ngIf="!loadingGuilds$()"
			tabindex="0"
			class="menu dropdown-content p-2 shadow bg-base-0 rounded-box max-w-[16rem] max-h-[80vh] md:max-h-[calc(100vh-2rem)] md:ml-4 md:-mt-2 overflow-y-auto flex flex-col flex-nowrap"
		>
			<li class="w-full" *ngFor="let guild of availableGuilds$()">
				<a
					class="flex gap-4 w-full"
					[routerLink]="['../', guild.id]"
					routerLinkActive="active"
				>
					<m-guild-icon [guild]="guild" />
					<p
						class="flex-1 whitespace-nowrap overflow-hidden text-ellipsis"
					>
						{{ guild.name }}
					</p>
				</a>
			</li>

			<li class="menu-title mt-4">
				<span> Invite bot to server </span>
			</li>
			<li class="w-full" *ngFor="let guild of unavailableGuilds$()">
				<a
					class="flex gap-4 w-full"
					[href]="inviteUrl"
					target="_INVITE"
				>
					<m-guild-icon [guild]="guild" />
					<p
						class="flex-1 whitespace-nowrap overflow-hidden text-ellipsis"
					>
						{{ guild.name }}
					</p>
				</a>
			</li>
		</ul>
	</div>

	<ul class="menu menu-compact lg:menu-normal mt-4">
		<li>
			<a
				routerLink="./"
				routerLinkActive="active"
				[routerLinkActiveOptions]="{ exact: true }"
			>
				<ng-icon class="text-success" name="cssCollage"></ng-icon>
				Dashboard
			</a>
		</li>

		<li class="menu-title mt-4">
			<span> Music </span>
		</li>
		<li>
			<a
				routerLink="./music"
				routerLinkActive="active"
				[routerLinkActiveOptions]="{ exact: true }"
			>
				<ng-icon class="text-primary" name="cssMusic"></ng-icon>
				Music
			</a>
		</li>
		<li>
			<a routerLink="./music/radio" routerLinkActive="active">
				<ng-icon class="text-red-400" name="cssMusicSpeaker"></ng-icon>
				Radio
			</a>
		</li>

		<li class="menu-title mt-4">
			<span> Modules </span>
		</li>
		<li>
			<a routerLink="./module/bookworm" routerLinkActive="active">
				<ng-icon class="text-emerald-500" name="cssBookmark"></ng-icon>
				Bookworm
			</a>
		</li>
		<li>
			<a routerLink="./module/feedback" routerLinkActive="active">
				<ng-icon class="text-red-400" name="cssInbox"></ng-icon>
				Feedback
			</a>
		</li>
		<li>
			<a routerLink="./module/reaction-trigger" routerLinkActive="active">
				<ng-icon class="text-indigo-400" name="cssFeed"></ng-icon>
				Reaction Trigger
			</a>
		</li>
		<li>
			<a routerLink="./module/fun" routerLinkActive="active">
				<ng-icon class="text-success" name="cssSmile"></ng-icon>
				Fun
			</a>
		</li>
	</ul>
</aside>
