@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;800;900&display=swap');
/* The integration's default injected base.css file */
@tailwind base;
@tailwind components;

.ghost-loader {
	@apply rounded;
	background-image: linear-gradient(90deg, #ddd 0px, #fff 40px, #ddd 80px);
	background-size: 600px;
	animation: shine-lines 1.5s infinite linear;
}

@keyframes shine-lines {
	0% {
		background-position: -100px;
	}
	40% {
		background-position: 200px;
	}
	100% {
		background-position: 200px;
	}
}

@tailwind utilities;

html,
body {
	@apply h-full w-full;
	font-family: 'Inter', serif;
}

.link {
	@apply no-underline opacity-75 transition-opacity hover:underline hover:opacity-100;
}

.menu {
	@apply gap-1;

	&.menu-normal,
	&.menu-compact,
	&:not(.menu-compact),
	&:not(.menu-normal) {
		> .menu-title {
			@apply opacity-100;

			> span {
				@apply text-xs font-semibold uppercase text-secondary;
			}
		}
	}

	> li a {
		@apply rounded-lg;

		&:hover {
			@apply bg-white/10;
		}

		&.active {
			@apply bg-white/10 text-white;
			@apply font-semibold;
		}
	}
}
