<m-particles />
<main class="text-content-base-100 container mx-auto min-h-screen px-4">
	<m-navigation />
	<div
		class="group mx-auto mt-32 flex flex-col items-center justify-center gap-3 md:mt-60"
	>
		<h1 class="mt-8 text-center text-5xl font-black text-white">Servers</h1>

		<ng-container *ngIf="loadingGuilds$(); else guildsTemplate">
			<div class="mt-8 flex gap-4">
				<div class="ghost-loader h-16 w-16 rounded-full"></div>
				<div class="ghost-loader h-16 w-16 rounded-full"></div>
				<div class="ghost-loader h-16 w-16 rounded-full"></div>
				<div class="ghost-loader h-16 w-16 rounded-full"></div>
			</div>
		</ng-container>
		<ng-template #guildsTemplate>
			<ng-container *ngIf="availableGuilds$().length">
				<p class="text-center text-gray-300">
					Select a server you want to configure Muse for.
				</p>

				<div class="flex gap-4">
					<a
						*ngFor="let guild of availableGuilds$()"
						[routerLink]="['./', guild.id]"
					>
						<m-guild-icon
							[guild]="guild"
							[size]="64"
						/>
					</a>
				</div>
			</ng-container>

			<p
				class="text-center text-gray-300"
				[class.mt-6]="availableGuilds$().length"
			>
				Invite Muse to your server
			</p>
			<div class="flex gap-4">
				<a
					*ngFor="let guild of unavailableGuilds$()"
					[href]="inviteUrl"
					target="_INVITE"
				>
					<m-guild-icon
						[guild]="guild"
						[size]="availableGuilds$().length ? 48 : 64"
					/>
				</a>
			</div>
		</ng-template>
	</div>
</main>
