<ng-container *ngIf="loadingUser$(); else userTemplate">
	<div class="btn btn-ghost flex items-center gap-4">
		<div class="ghost-loader mask mask-squircle h-8 w-8 rounded-none"></div>
		<div class="ghost-loader h-6 w-32 flex-1"></div>
	</div>
</ng-container>

<ng-template #userTemplate>
	<ng-container *ngIf="user$() as user; else signinButtonTemplate">
		<button
			tabindex="0"
			class="group btn btn-ghost flex items-center gap-4 text-white hover:text-red-500"
			(click)="signout()"
		>
			<img
				[src]="user.avatar"
				class="mask mask-squircle"
				width="32"
				height="32"
				[alt]="
					user.username +
					(user.discriminator === '0' ? '' : '#' + user.discriminator)
				"
			/>

			<span class="group-hover:hidden">
				{{ user.username
				}}<ng-container *ngIf="user.discriminator !== '0'"
					>#{{ user.discriminator }}</ng-container
				>
			</span>
			<span class="hidden group-hover:inline-block">Signout</span>

			<ng-icon
				name="cssChevronDown"
				class="group-hover:hidden"
			></ng-icon>
			<ng-icon
				name="cssLogOut"
				class="!hidden group-hover:!inline-block"
			></ng-icon>
		</button>
	</ng-container>
</ng-template>

<ng-template #signinButtonTemplate>
	<a
		class="btn btn-primary rounded-full"
		[href]="signinUrl"
	>
		Sign in
	</a>
</ng-template>
