---
import { Image } from '@astrojs/image/components';
import logoImage from '../assets/images/logo.png';
import Navigation from '../components/Navigation.astro';
import Particles from '../components/Particles.astro';
import Layout from '../layouts/Layout.astro';

const INVITE_LINK = import.meta.env.PUBLIC_INVITE_LINK;
---

<Layout title="Welcome to Muse.">
	<Particles />
	<main class="container mx-auto px-4 text-content-base-100 min-h-screen">
		<Navigation />
		<div
			class="mx-auto mt-32 md:mt-60 flex flex-col items-center justify-center group gap-3"
		>
			<Image src={logoImage} width={152} height={152} alt="Muse logo" />
			<h1 class="text-5xl text-white mt-8 font-black">
				Let Muse guide you.
			</h1>
			<p class="text-gray-300 text-center">
				Muse is your go-to all-purpose musical bot with stunning
				features and easy configuration!
			</p>

			<a
				href={INVITE_LINK}
				target="_INVITE"
				class="btn btn-secondary btn-sm">Get started</a
			>
		</div>
	</main>
</Layout>
