<div class="navbar sticky top-0 px-0">
	<div class="flex-1 gap-4 lg:flex-none">
		<a
			href="/"
			class="mr-6"
		>
			<img
				src="/assets/images/logo.png"
				width="64"
				height="64"
				alt="Muse logo"
			/>
		</a>
		<a
			[href]="inviteUrl"
			class="link hidden text-white md:block"
			target="_INVITE"
		>
			Add to server
		</a>
	</div>
	<div class="flex flex-1 items-center justify-end">
		<div class="flex items-center gap-4 md:hidden">
			<div class="dropdown dropdown-end">
				<label
					tabindex="0"
					class="btn btn-ghost aspect-square p-1 text-2xl"
				>
					<ng-icon name="cssMenuRight"></ng-icon>
				</label>
				<ul
					tabindex="0"
					class="dropdown-content menu rounded-box mt-2 w-64 bg-neutral p-2 shadow"
				>
					<ng-container *ngIf="user$() as user">
						<li class="w-full rounded-none">
							<div
								class="mb-2 flex w-full cursor-default gap-4 !rounded-none border-b border-gray-700 px-4 hover:bg-transparent"
							>
								<img
									[src]="user.avatar"
									class="mask mask-squircle"
									width="32"
									height="32"
									[alt]="
										user.username +
										(user.discriminator === '0'
											? ''
											: '#' + user.discriminator)
									"
								/>
								<p
									class="flex-1 overflow-hidden text-ellipsis whitespace-nowrap text-white"
								>
									{{ user.username
									}}<ng-container
										*ngIf="user.discriminator !== '0'"
										>#{{ user.discriminator }}</ng-container
									>
								</p>
							</div>
						</li>
						<li>
							<a
								class="hover:text-base-100"
								routerLink="./dashboard"
							>
								Dashboard
							</a>
						</li>
					</ng-container>
					<li>
						<a
							class="hover:text-base-100"
							[href]="inviteUrl"
							target="_INVITE"
						>
							Add to server
						</a>
					</li>
					<li *ngIf="user$(); else signinMobileButtonTemplate">
						<a
							class="text-error"
							(click)="signout()"
						>
							Sign out
						</a>
					</li>
					<ng-template #signinMobileButtonTemplate>
						<li>
							<a
								class="text-primary"
								[href]="signinUrl"
							>
								Sign in
							</a>
						</li>
					</ng-template>
				</ul>
			</div>
		</div>
		<div class="hidden items-center gap-4 md:flex">
			<m-user-button />
		</div>
	</div>
</div>
