<div class="navbar sticky top-0 px-0">
	<div class="flex-1 lg:flex-none gap-4">
		<a
			href="/"
			class="mr-6"
		>
			<img
				src="/assets/images/logo.png"
				width="64"
				height="64"
				alt="Muse logo"
			/>
		</a>
		<a
			[href]="inviteUrl"
			class="hidden md:block link text-white"
			target="_INVITE"
		>
			Add to server
		</a>
	</div>
	<div class="flex flex-1 justify-end items-center">
		<div class="flex md:hidden gap-4 items-center">
			<div class="dropdown dropdown-end">
				<label
					tabindex="0"
					class="btn btn-ghost p-1 text-2xl aspect-square"
				>
					<ng-icon name="cssMenuRight"></ng-icon>
				</label>
				<ul
					tabindex="0"
					class="menu dropdown-content p-2 shadow bg-neutral rounded-box w-64 mt-2"
				>
					<ng-container *ngIf="user$() as user">
						<li class="rounded-none w-full">
							<div
								class="flex gap-4 px-4 hover:bg-transparent border-b border-gray-700 !rounded-none mb-2 w-full cursor-default"
							>
								<img
									[src]="user.avatar"
									class="mask mask-squircle"
									width="32"
									height="32"
									[alt]="
										user.username +
										(user.discriminator === '0' ? '' : '#' + user.discriminator)
									"
								/>
								<p
									class="flex-1 text-white whitespace-nowrap overflow-hidden text-ellipsis"
								>
									{{ user.username
									}}<ng-container *ngIf="user.discriminator !== '0'"
										>#{{ user.discriminator }}</ng-container
									>
								</p>
							</div>
						</li>
						<li>
							<a
								class="hover:text-base-100"
								routerLink="./dashboard"
							>
								Dashboard
							</a>
						</li>
					</ng-container>
					<li>
						<a
							class="hover:text-base-100"
							[href]="inviteUrl"
							target="_INVITE"
						>
							Add to server
						</a>
					</li>
					<li *ngIf="user$(); else signinMobileButtonTemplate">
						<a
							class="text-error"
							(click)="signout()"
						>
							Sign out
						</a>
					</li>
					<ng-template #signinMobileButtonTemplate>
						<li>
							<a
								class="text-primary"
								[href]="signinUrl"
							>
								Sign in
							</a>
						</li>
					</ng-template>
				</ul>
			</div>
		</div>
		<div class="hidden md:flex gap-4 items-center">
			<m-user-button />
		</div>
	</div>
</div>
