<m-particles />
<main class="text-content-base-100 container mx-auto min-h-screen px-4">
	<m-navigation />
	<div
		class="group mx-auto mt-32 flex flex-col items-center justify-center gap-3 md:mt-60"
	>
		<img
			src="/assets/images/logo.png"
			width="152"
			height="152"
			alt="Muse logo"
		/>
		<h1 class="mt-8 text-center text-5xl font-black text-white">
			Let Muse guide you.
		</h1>
		<p class="text-center text-gray-300">
			Muse is your go-to all-purpose musical bot with stunning features
			and easy configuration!
		</p>

		<a
			[href]="inviteUrl"
			target="_INVITE"
			class="btn btn-secondary btn-sm"
		>
			Get started
		</a>
	</div>
</main>
