<div
	class="flex items-center gap-2 text-white"
	*ngIf="segments$().length > 0; else welcomeUserTemplate"
>
	<a routerLink="./">Dashboard</a>
	<ng-icon name="cssChevronRight"></ng-icon>

	<ng-container *ngFor="let segment of segments$(); let i = index">
		<a
			[class]="
				'capitalize' +
				(!segment.link && i !== segments$().length - 1
					? ' text-white/40'
					: '')
			"
			[class.text-primary]="i === segments$().length - 1"
			[class.font-medium]="i === segments$().length - 1"
			[routerLink]="segment.link"
		>
			{{ segment.label }}
		</a>
		<ng-icon
			*ngIf="i < segments$().length - 1"
			name="cssChevronRight"
		></ng-icon>
	</ng-container>
</div>

<ng-template #welcomeUserTemplate>
	<m-dashboard-page-title [margin]="false">
		Welcome
		<div
			*ngIf="loadingUser$() || !user$(); else welcomeTemplate"
			class="ghost-loader h-8 w-56"
		></div>
		<ng-template #welcomeTemplate>
			{{ user$()!.username
			}}<ng-container *ngIf="user$()!.discriminator !== '0'"
				>#{{ user$()!.discriminator }}</ng-container
			>
		</ng-template>
	</m-dashboard-page-title>
</ng-template>

<!-- <span class="text-white/40">Modules</span>
	<ng-icon name="cssChevronRight"></ng-icon>
	<span class="text-primary font-medium">Dashboard</span> -->
